torch
torchvision
lightning
pytorch-lightning
torchmetrics
tensorboard
timm
tonic
albumentations
opencv-python
numpy
pandas
h5py
natsort
hydra-core
matplotlib
seaborn
scikit-learn
scikit-image
click
thop
tqdm
Pillow
scipy
PyYAML
debugpy
